
.custom-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
    padding: 0px;
    max-width: 1200px;
    margin: auto;
    position: relative;
}

.custom-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-loading .spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    margin-right: 10px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.custom-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    opacity: 0;
}

.custom-gallery img.lazyload {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.custom-gallery img.loaded {
    opacity: 1;
}

.custom-gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.custom-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.custom-modal img {
    max-width: 90%;
    max-height: 80vh;
    border-radius: 8px;
    transform: scale(0);
    animation: zoomIn 0.3s forwards;
}

@keyframes zoomIn {
    from { transform: scale(0); }
    to { transform: scale(1); }
}

.custom-modal .custom-close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 2em;
    color: white;
    cursor: pointer;
}

.custom-modal .custom-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    z-index: 1;
    padding: 0 20px;
}

.custom-modal .custom-controls button {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 2em;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    opacity: 0.8;
}

.custom-modal .custom-controls button:hover {
    opacity: 1;
}

@media (max-width: 768px) {
    .custom-gallery {
        justify-content: center;
        gap: 10px;
    }
    .custom-gallery img {
        width: 48%;
        height: auto;
    }

    .custom-modal img {
        max-height: 70vh;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .custom-gallery img {
        width: 30%;
        height: auto;
    }
}

@media (min-width: 1025px) {
    .custom-gallery img {
        width: 23%;
        height: auto;
    }
}
